<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
    <style>
        body{
            background-image: url("../images/offHomePage_trans.png");
            background-repeat:no-repeat;
            background-size:cover;
            text-align: center;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>

<h1>Welcome</h1>
<a href="http://localhost:8082/login">Click here to Login</a>

</body>
</html>